.btn {
  border-radius: var(--itk-feedback-radius-sm);
  padding: 0.5em 1.1em;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  transition: var(--itk-feedback-transform-colors-in);
}

.btn-primary {
  color: var(--itk-feedback-color-text-light);
  background-color: var(--itk-feedback-color-primary);
  border: 1px solid transparent;
  box-shadow: 0 1px 3px hsla(252, 55%, 30%, 0.25);
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--itk-feedback-color-text-light);
  background-color: var(--itk-feedback-color-primary-300);
}

.btn-cancel {
  color: var(--itk-feedback-color-gray-700);
  background-color: transparent;
  border: 1px solid var(--itk-feedback-color-gray-200);
}

.btn-cancel:hover,
.btn-cancel:active {
  color: var(--itk-feedback-color-text-dark);
  background-color: var(--itk-feedback-color-gray-200);
  border-color: var(--itk-feedback-color-gray-300);
}
